<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>990832470392-o8ejcmvo75co2nkjvho6cbvqg07pvqsj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990832470392-o8ejcmvo75co2nkjvho6cbvqg07pvqsj</string>
	<key>API_KEY</key>
	<string>AIzaSyB0wFT4Lg1IDArLrOWSVPzcdXuJ9lVrkMg</string>
	<key>GCM_SENDER_ID</key>
	<string>990832470392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sudar.simplenote.simplenote</string>
	<key>PROJECT_ID</key>
	<string>flutter-simple-note-c90de</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-simple-note-c90de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990832470392:ios:93c30b0f5b1309c92f808d</string>
</dict>
</plist>